.sc-casa-product-list {
  &__compare-btn {
    position: relative;
    width: 100%;
    text-align: center;
    color: $color-white;
  }
  &__compare-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: $color-white;
    background-color: $color-blue;
    padding: 20px;
    cursor: pointer;
    .icon-plus-round-white {
      background-image: url("data:image/svg+xml,%3Csvg id='add-round-white' xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Ccircle data-name='Ellipse 1' cx='25' cy='25' r='25' fill='%23fff'/%3E%3Cline data-name='Line 1' y2='25' transform='translate(25 13)' fill='none' stroke='%23006ea6' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='3'/%3E%3Cline data-name='Line 2' x1='25' transform='translate(12.5 25)' fill='none' stroke='%23006ea6' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='3'/%3E%3C/svg%3E");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      margin-right: 7px;
    }
  }
  // card-checkbox-default
  &__compare-input {
    display: none;
    opacity: 0;
    &:checked {
      ~ .sc-casa-product-list {
        &__compare-label {
          background-color: red;
        }
      }
    }
  }
  &__btn-section {
    &--with-compare-btn {
      padding: 4px 0 0 0;
      .sc-casa-product-list {
        &__btn-wrap {
          margin-bottom: 16px;
        }
      }
    }
  }
}

// card-compare-sticky
.sc-casa-product-list {
  &__card-compare {
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 99;
    // display: none;
  }
  &__sh-toggle-btn-wrap {
    position: absolute;
    right: 0;
    top: -30px;
    padding: 7px 14px 5px 0;
    width: 90px;
    height: 30px;
    text-align: center;
    border-top-left-radius: 8px;
    background-color: $color-black;
  }
  &__sh-toggle-btn {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='292.362px' height='292.362px' viewBox='0 0 292.362 292.362' style='enable-background:new 0 0 292.362 292.362;' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23fff' d='M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424 C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428 s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 11px 11px;
      width: 11px;
      height: 11px;
      display: inline-block;
      position: absolute;
      top: 11px;
      right: 19px;
      z-index: 5;
    }
  }
  &__compare-section-wrapper {
    // max-width: 1040px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  &__compare-selected-cards {
    display: flex;
    min-width: 520px;
  }
  &__compare-section {
    background: $color-black;
    text-align: center;
    padding: 25px 0;
    width: 100%;
  }
  &__single-blank-card {
    display: none;
    &.show {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-white;
      border: 1px dashed #fff;
      border-radius: 10px;
      position: relative;
      max-width: 115px;
      min-width: 115px;
      height: 66px;
      margin: 0 15px;
    }
  }
  &__add-more {
    padding: 0 10px;
    text-align: center;
    display: block;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
  }
}

.card-compare-sticky {
  // compare-section
  .compare-section {
    &.hide-card-sticky {
      height: 0px;
      overflow: hidden;
      padding: 0;
    }
    .compare-section-wrapper {
      max-width: 1040px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 auto;
      .compare-selected-cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-width: 520px;
      }
    }
    .card-selection-error {
      font-size: 16px;
      color: #fff;
      font-weight: 300;
      max-width: 200px;
      text-align: left;
      display: inline-block;
      line-height: 20px;
      letter-spacing: 0.5px;
    }
  }
}

// min 681px
@include breakpoint($bp--h-small-large) {
  .sc-casa-product-list {
  }
}

// min 1024px
@include breakpoint($bp--h-desktop) {
  .sc-casa-product-list {
  }
}

// max 1023.9px
@include breakpoint($bp--h-mobile) {
  .sc-casa-product-list {
  }
}
