// Vars
@import '../../../scss/base/variables/index';

// Mixins
@import '../../../scss/base/mixins/index';

/** @define right-tab; weak */

.sc-right-tab {
  padding: $spacer-6 0;
  position: relative;
  overflow: hidden;
  background-color: $color-light-gray-11;
  &__container {
    display: flex;
    flex-direction: column-reverse;
  }
  &__title {
    font-size: $font-size-lg;
    font-weight: $font-weight-normal;
    margin-bottom: $spacer-5;
    color: $color-white;
    max-width: 1000px;
  }
  &__tabs {
    color: $color-white;
  }
  &__tab-text {
    text-align: center;
    font-size: $font-size-sm;
  }
  &__contents-slide {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    .sc-benefit-tile {
      width: 100%;
    }
  }
  &__tab-icon {
    width: 20px;
    height: 20px;
    display: none;
    flex-shrink: 0;
    margin-right: $spacer-2;
    position: relative;
  }
  &__tab {
    margin-bottom: $spacer-4;
  }
  &__contents-0 {
    .sc-content-wrapper {
      max-width: 100% !important;
      padding-left: 0;
    }
    /* stylelint-disable selector-max-compound-selectors */
    > .splide__track > .splide__list > .splide__slide {
      max-height: 0;
      transition: all 0.5s ease;
    }
    > .splide__track > .splide__list > .splide__slide.is-active {
      max-height: 2000px;
    }
    /* stylelint-enable selector-max-compound-selectors */

    .splide {
      &__pagination {
        position: static;
        margin-top: $spacer-5;
        transform: none;
        background-color: transparent;
      }
      &__pagination__page {
        width: 12px;
        border-radius: 2px;
        transition: all 0.3s ease-in;
        /* stylelint-disable max-nesting-depth */
        &.is-active {
          opacity: 1;
          width: 33px;
          transform: none;
        }
        /* stylelint-enable max-nesting-depth */
      }
      &__slide {
        /* stylelint-disable max-nesting-depth */
        > div {
          background: none !important;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
        }
        /* stylelint-enable max-nesting-depth*/
      }
    }
  }
  &__tabs-0 {
    .splide {
      &__slide {
        border: 1px solid $color-brand-blue !important;
        color: $color-text;
        border-radius: 6px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: $spacer-2 $spacer-3;
        min-height: 70px;
        margin-bottom: $spacer-2;
        /* stylelint-disable max-nesting-depth, selector-max-compound-selectors */
        &.is-active {
          background-color: $color-light-blue-5;
          font-weight: 500;
          .sc-right-tab__tab-icon {
            display: block;
            ~ .sc-right-tab__tab-text {
              text-align: left;
            }
          }
        }
        &:first-child {
          margin-left: auto;
        }
        &:last-child {
          margin-right: auto !important;
        }
      }
      &__pagination {
        flex-direction: column;
        right: -30px;
        left: auto;
        background-color: transparent;
        li {
          &:last-child,
          &:first-child {
            margin: 0;
          }
        }
      }
      &__pagination__page {
        height: 12px;
        border-radius: 3px;
        transition: all 0.3s ease-in;
        margin-bottom: $spacer-0;
        &.is-active {
          height: 33px;
          transform: none;
          opacity: 1;
        }
      }
    }
    /* stylelint-enable max-nesting-depth, selector-max-compound-selectors */
  }
  .sc-inline-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: $spacer-6;
  }

  .sc-content-wrapper {
    position: relative;
    z-index: 3;
  }
}
@include desktop {
  .sc-right-tab {
    &__container {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    &__title {
      font-size: $font-size-mlg;
    }
    &__wrapper {
      width: calc(100% - 170px);
    }
    &__tab {
      width: 170px;
      margin-bottom: $spacer-0;
    }
    &__contents-slide {
      gap: 40px;
      flex-wrap: nowrap;
      padding-right: 60px; /* stylelint-disable-line scale-unlimited/declaration-strict-value */
    }
    &__tabs-0 {
      .splide__list {
        flex-direction: column;
      }
    }
  }
}
/** @end */

/** @define tab-focus; weak */
.sc-tab-focus {
  .sc-right-tab .splide__slide:focus {
    outline-offset: -6px;
    outline-color: $color-yellow-1;
  }
}

/** @end */

.sc-blue-bg,
.sc-dark-bg {
  .sc-right-tab {
    &__tabs-0 .splide__slide {
      border-color: $color-white !important;
      color: $color-white;
      &.is-active {
        background: rgba(255, 255, 255, 0.15);
      }
    }
  }
}
