// Vars
@import '../../../scss/base/variables/index';

// Mixins
@import '../../../scss/base/mixins/index';

/** @define masthead-with-video; weak */
.sc-masthead-with-video {
  position: relative;
  .sc-inline-buttons {
    justify-content: center;
    flex-wrap: nowrap;
  }
  &__bg {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__content {
    position: relative;
    margin-top: -80px; /* stylelint-disable-line scale-unlimited/declaration-strict-value */
    width: 100%;
    flex-direction: column;
    height: auto;
    padding: $spacer-2;
  }
  &__img-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    width: 100%;
    margin-top: $spacer-0;
  }
  &__item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-top: $spacer-4;
    align-items: flex-end;
  }
  &__qr-container {
    background-color: $color-white;
    padding: $spacer-3;
    margin: $spacer-4 $spacer-6;
    border-radius: $spacer-3;
  }
  &__inner-title {
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    color: $color-black;
    margin-bottom: $spacer-4;
  }
  &__inner-desc {
    position: relative;
    margin: $spacer-0 $spacer-0 $spacer-4;
    text-align: center;
    font-size: $font-size-md;
    font-weight: $font-weight-semi-bold;
    color: $color-black;
    p {
      margin-bottom: $spacer-1;
      flex-direction: column;
    }
    &::before,
    &::after {
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      display: inline-block;
      height: 100%;
      width: 20px;
      position: absolute;
      top: 0;
    }
    &::before {
      background-image: url('data:image/svg+xml,<svg width="38" height="80" viewBox="0 0 38 80" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M37.6208 79.678C37.2369 79.6688 36.849 79.6609 36.4531 79.6543C36.7012 79.7664 36.9545 79.8826 37.2078 79.9987C37.3622 79.9221 37.4994 79.8126 37.6208 79.678Z" fill="%23A99C81" style="fill:%23A99C81;fill:color(display-p3 0.6625 0.6115 0.5052);fill-opacity:1;"/><path d="M2.17015 30.7362C2.17015 30.7362 3.43021 31.9145 3.6875 34.3818C4.11896 38.5249 7.45713 39.6503 8.46518 39.8971C9.03122 41.1505 10.0775 43.6878 10.2741 45.7052C10.2728 45.8227 10.2715 45.9322 10.2741 46.0179C10.2939 46.9983 10.9272 50.0897 11.5685 51.7021C11.9775 52.7299 12.244 54.5085 12.4604 55.8768C11.6371 54.4768 10.3216 52.2747 9.52864 51.1083C7.63921 42.433 0.209473 43.8937 0.209473 43.8937C0.209473 43.8937 1.85481 44.775 2.79425 47.2938C4.36701 51.5147 8.18546 51.7588 9.32545 51.7337C10.1923 52.8025 11.7928 54.9149 12.6254 56.8611C12.6847 57.1856 12.7415 57.4469 12.7982 57.6039C13.0911 58.4167 14.0213 60.7323 15.6548 62.0478C16.7631 62.941 17.7619 64.7632 18.7343 66.3201C17.4281 65.3147 15.5743 63.9082 14.4778 63.1706C9.50753 55.696 2.8523 59.9182 2.8523 59.9182C2.8523 59.9182 4.76284 60.1227 6.58498 62.1441C9.63684 65.5337 13.4183 64.3027 14.5108 63.8422C15.664 64.4808 17.7685 65.7382 19.2714 67.15C19.5498 67.5577 19.8282 67.9272 20.1052 68.2267C21.5302 69.7559 25.7221 72.8922 27.1814 73.8725C27.9414 74.3818 28.4124 74.9571 28.7634 75.4677C27.3331 74.7645 24.3235 73.3025 22.7296 72.6481C16.0533 65.9968 10.0274 71.7878 10.0274 71.7878C10.0274 71.7878 12.0474 71.5859 14.3472 73.2841C18.2 76.1301 21.8654 74.0454 22.9024 73.3355C24.4251 73.8118 27.4202 74.8608 29.2898 76.2607C29.3782 76.3887 29.4653 76.5061 29.5564 76.5958C29.7609 76.7977 31.967 77.6738 34.8987 78.9616C35.4608 78.9787 35.8936 78.988 35.9094 78.9748C36.1007 78.9827 36.2934 78.9906 36.4887 78.9985C35.9899 78.7901 35.478 78.579 34.9462 78.3626C34.6217 78.2306 34.3156 78.104 34.0226 77.9773C32.3206 76.7476 30.6066 74.651 29.7556 73.5374C30.0076 72.3987 30.5565 68.4694 26.8647 66.0127C24.6692 64.5494 24.1665 62.7048 24.1665 62.7048C24.1665 62.7048 21.2901 69.9419 29.1196 73.6152C30.0577 74.647 31.8627 76.4138 33.0251 77.534C29.2107 75.7831 28.4876 74.6919 28.4876 74.6919C28.4876 74.6919 24.9265 71.7878 24.3697 70.7072C22.8629 69.2849 21.4748 66.6697 20.8322 65.3543C21.2782 64.3317 22.4974 60.7864 19.5339 57.7979C17.7646 56.0127 17.6366 54.1958 17.6366 54.1958C17.6366 54.1958 13.64 60.376 20.2319 65.3041C21.0025 66.5985 22.6359 68.9867 23.4526 70.1689C22.5436 69.5976 21.1529 68.6212 20.224 67.4746C20.224 67.4746 17.2275 62.7682 15.8171 61.6176C14.9515 59.7625 14.6058 56.8571 14.4805 55.4163C15.2246 54.6497 17.5521 51.8353 15.9147 48.0024C14.9423 45.7211 15.4516 44.0084 15.4516 44.0084C15.4516 44.0084 9.73448 48.2293 13.9593 55.1511C14.2245 56.7291 14.9476 59.8205 15.2444 61.0661C14.0847 59.8008 13.1558 57.844 13.2323 57.0339C13.3207 56.0958 12.1174 53.7195 11.9683 50.2494C11.6226 48.3903 11.9788 45.7224 12.1992 44.4082C13.0344 43.9055 15.7405 41.9607 15.164 38.1594C14.8235 35.8939 15.6627 34.4927 15.6627 34.4927C15.6627 34.4927 9.63024 36.8769 11.7954 44.0493C11.6754 45.473 11.6107 48.2649 11.587 49.5078C11.1793 48.6317 10.5987 47.1118 10.6726 45.6379C10.7847 43.3936 10.7821 40.1465 10.9985 38.6726C11.013 38.5684 11.0196 38.4774 11.0222 38.3916C11.1951 36.5391 12.0949 34.2169 12.5884 33.0532C13.516 32.7682 16.5955 31.5437 16.928 27.7068C17.126 25.4189 18.2699 24.2657 18.2699 24.2657C18.2699 24.2657 11.8627 25.0983 12.281 32.6085C11.8588 33.8791 11.203 36.3293 10.8639 37.6211C10.6436 37.092 10.3322 36.4652 10.8217 33.8725C11.4273 30.6624 11.9485 29.1556 12.2414 27.6778L12.2652 27.7055C12.9104 26.0325 14.5161 24.0718 15.3421 23.1284C16.2564 23.16 19.3835 23.007 20.8111 19.6451C21.6622 17.6422 23.0278 16.9521 23.0278 16.9521C23.0278 16.9521 17.031 15.729 15.2009 22.6283C14.4211 23.6799 13.041 25.8016 12.3813 26.8281C12.3918 26.7529 12.4024 26.6763 12.4103 26.5985C12.5475 25.3807 13.3695 23.5374 14.6098 21.516C15.3078 20.3826 16.3079 19.1516 16.9544 18.0459L16.961 18.0604C17.9849 16.7476 19.9416 15.4493 20.9286 14.8397C21.7334 15.1247 24.5596 15.8715 26.7314 13.2722C28.0271 11.7232 29.4284 11.4936 29.4284 11.4936C29.4284 11.4936 24.4172 8.70827 20.9352 14.3568C20.0063 15.0416 18.3332 16.4388 17.4307 17.2015C18.7066 14.8845 18.4203 15.1432 19.2516 14.5006C20.158 13.8 21.2927 12.6494 21.2927 12.6494C22.599 10.8418 25.1349 9.01966 26.4161 8.16203C27.5046 8.52883 31.2439 9.43792 34.0081 5.85433C35.6574 3.71553 37.502 3.35928 37.502 3.35928C37.502 3.35928 30.7966 -0.266526 26.4055 7.50363C24.7061 8.86001 21.0869 12.2021 21.0869 12.2021C21.0869 12.2021 20.6225 12.6613 20.0986 13.1798C20.8085 12.0636 21.7822 10.5053 22.2915 9.58306C27.8384 5.06267 24.2087 0 24.2087 0C24.2087 0 24.1519 1.55166 22.6742 3.15873C20.1989 5.85697 21.3627 8.81515 21.7743 9.65299C21.2584 10.8035 20.1356 13.0994 18.8755 14.3871H18.8768C18.77 14.4927 18.6895 14.5718 18.6605 14.5982C18.4771 14.779 17.4162 17.0273 16.7116 17.749C16.1535 18.3243 14.809 20.7811 13.7957 22.3433C14.1757 21.0001 14.8367 18.612 15.1165 17.3163C19.4112 10.8985 14.1269 6.90328 14.1269 6.90328C14.1269 6.90328 14.5478 8.5064 13.5292 10.628C11.8192 14.1866 13.9263 16.832 14.6085 17.5564C14.433 18.8996 13.9883 21.6097 13.0938 23.3329C12.3641 25.0468 12.3813 25.6208 11.8693 27.5327C11.5381 28.7663 11.104 30.6953 10.757 32.2259C10.695 30.7178 10.5908 28.5539 10.4641 27.3347C12.6715 19.4656 6.07964 17.2938 6.07964 17.2938C6.07964 17.2938 7.02172 18.7479 6.69318 21.2126C6.14165 25.349 9.11566 27.2648 10.0327 27.7517C10.2715 29.0302 10.6607 31.5213 10.4707 33.4873C10.4047 33.7723 10.3467 34.0203 10.3005 34.2037C10.0063 35.3846 10.4206 37.7847 10.4549 39.7836C10.4773 41.1176 10.381 43.0057 10.3203 44.4095C9.90996 42.9714 9.23177 40.6399 8.78844 39.3917C9.09323 31.2192 2.17015 30.7362 2.17015 30.7362Z" fill="%23A99C81" style="fill:%23A99C81;fill:color(display-p3 0.6625 0.6115 0.5052);fill-opacity:1;"/><path d="M37.6203 79.678C37.6625 79.6318 37.7021 79.583 37.7404 79.5316C37.3327 79.3561 36.9183 79.1793 36.4869 78.9998C36.2916 78.9919 36.0977 78.984 35.9077 78.9761C35.8931 78.9893 35.4591 78.98 34.897 78.9629C35.3957 79.1819 35.9169 79.4141 36.4513 79.6556C36.8497 79.6609 37.2377 79.6688 37.6203 79.678Z" fill="%23A99C81" style="fill:%23A99C81;fill:color(display-p3 0.6625 0.6115 0.5052);fill-opacity:1;"/></svg>');
      left: -$spacer-3;
    }
    &::after {
      background-image: url('data:image/svg+xml,<svg width="39" height="80" viewBox="0 0 39 80" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.0924 61.8868C24.7021 60.5423 25.5914 58.2095 25.8698 57.3928C25.9239 57.2358 25.9754 56.9732 26.0295 56.646C26.8264 54.6853 28.39 52.5465 29.237 51.4619C30.377 51.4646 34.1902 51.1558 35.6878 46.9086C36.5823 44.3726 38.2118 43.4622 38.2118 43.4622C38.2118 43.4622 30.7584 42.1335 29.0233 50.8418C28.2514 52.0214 26.9742 54.2486 26.176 55.6617C26.3673 54.2908 26.6035 52.5069 26.994 51.4725C27.6062 49.8483 28.1841 46.7476 28.1868 45.7659C28.1868 45.6802 28.1855 45.5706 28.1802 45.4532C28.3411 43.4292 29.3426 40.8761 29.8862 39.6134C30.889 39.3482 34.2074 38.1647 34.5662 34.0137C34.78 31.5424 36.0189 30.3417 36.0189 30.3417C36.0189 30.3417 29.1064 30.946 29.5537 39.1094C29.1354 40.3655 28.4955 42.7088 28.1116 44.1549C28.0245 42.751 27.8952 40.8655 27.8939 39.5316C27.8939 37.5313 28.2659 35.126 27.9506 33.9504C27.9005 33.767 27.8384 33.5216 27.7685 33.2379C27.5442 31.2746 27.8873 28.7782 28.105 27.4944C29.0127 26.9904 31.9524 25.0231 31.3284 20.8959C30.9576 18.4378 31.8733 16.9679 31.8733 16.9679C31.8733 16.9679 25.3196 19.2558 27.6682 27.084C27.5627 28.3045 27.4967 30.4737 27.4598 31.9818C27.0864 30.4565 26.6193 28.5381 26.2657 27.3083C25.7181 25.4057 25.7247 24.8318 24.966 23.131C24.0411 21.4223 23.5516 18.7215 23.351 17.3822C24.02 16.6473 26.081 13.9649 24.3076 10.4367C23.2508 8.33355 23.6426 6.72384 23.6426 6.72384C23.6426 6.72384 18.4309 10.8115 22.8365 17.1513C23.1386 18.4417 23.8445 20.8194 24.2469 22.156C23.2059 20.6109 21.8192 18.1805 21.2492 17.6131C20.5327 16.9046 19.431 14.6748 19.245 14.498C19.2159 14.4716 19.1355 14.3937 19.0259 14.2908C17.7434 13.0255 16.5797 10.7494 16.044 9.60945C16.4412 8.76369 17.5521 5.78572 15.028 3.13234C13.5265 1.55034 13.4421 0 13.4421 0C13.4421 0 9.90336 5.12601 15.5294 9.54743C16.0546 10.4605 17.0573 12.0016 17.7857 13.1059C17.2526 12.5966 16.7803 12.1454 16.7803 12.1454C16.7803 12.1454 13.1017 8.8666 11.3785 7.54057C6.85151 -0.151735 0.209473 3.59282 0.209473 3.59282C0.209473 3.59282 2.06064 3.91608 3.74688 6.02586C6.57311 9.56195 10.2979 8.58556 11.3798 8.19897C12.6755 9.03417 15.2444 10.8115 16.5823 12.594C16.5823 12.594 17.7368 13.7248 18.6552 14.4096C19.497 15.0363 19.208 14.7829 20.5248 17.0774C19.6065 16.332 17.9097 14.9637 16.9689 14.2961C13.3867 8.71091 8.42955 11.5873 8.42955 11.5873C8.42955 11.5873 9.83475 11.7905 11.1568 13.3171C13.3748 15.8768 16.1852 15.0811 16.9861 14.7816C17.9849 15.3741 19.9641 16.6381 21.0104 17.9324L21.017 17.9179C21.682 19.0117 22.7058 20.2256 23.421 21.3471C24.6969 23.3461 25.5519 25.1735 25.7102 26.3887C25.7208 26.4665 25.7326 26.5431 25.7432 26.6183C25.065 25.605 23.6479 23.5071 22.851 22.47C20.8982 15.6023 14.9238 16.9323 14.9238 16.9323C14.9238 16.9323 16.3026 17.5973 17.1893 19.5857C18.675 22.9199 21.8033 23.0175 22.7177 22.9714C23.5595 23.9002 25.1996 25.8319 25.8751 27.4944L25.8989 27.4667C26.2169 28.9392 26.7644 30.4354 27.4268 33.635C27.9625 36.2172 27.6616 36.8492 27.4518 37.3836C27.089 36.0984 26.391 33.6601 25.9464 32.3974C26.2327 24.8819 19.811 24.1615 19.811 24.1615C19.811 24.1615 20.9747 25.2962 21.2149 27.5802C21.616 31.4105 24.7167 32.5808 25.6482 32.8487C26.1614 34.0032 27.1022 36.3095 27.308 38.1594C27.3133 38.2451 27.3212 38.3349 27.3384 38.4391C27.5798 39.909 27.6353 43.1561 27.7883 45.3978C27.8886 46.8703 27.3344 48.4008 26.9412 49.2835C26.895 48.0433 26.7842 45.2513 26.6378 43.8303C28.675 36.6196 22.6016 34.3409 22.6016 34.3409C22.6016 34.3409 23.4672 35.729 23.1663 37.9997C22.657 41.8103 25.3962 43.7063 26.2406 44.1945C26.4821 45.5034 26.8858 48.166 26.5744 50.0303C26.4873 53.5031 25.3236 55.9005 25.4292 56.836C25.5215 57.6435 24.6269 59.6174 23.4896 60.9025C23.764 59.653 24.433 56.5483 24.6705 54.9663C28.77 47.972 22.9803 43.8514 22.9803 43.8514C22.9803 43.8514 23.5186 45.5535 22.5858 47.852C21.0156 51.7139 23.3933 54.4861 24.1506 55.2395C24.053 56.6816 23.7574 59.5936 22.9235 61.4632C21.5342 62.6389 18.6222 67.3967 18.6222 67.3967C17.7118 68.5592 16.3409 69.5593 15.4397 70.1478C16.2353 68.951 17.8279 66.5325 18.576 65.2263C25.0795 60.1834 20.9721 54.0744 20.9721 54.0744C20.9721 54.0744 20.8758 55.8926 19.1394 57.7095C16.2287 60.7508 17.5112 64.275 17.9743 65.287C17.3555 66.613 16.015 69.2519 14.5333 70.7019C13.9949 71.7931 10.4866 74.7592 10.4866 74.7592C10.4866 74.7592 9.78197 75.8622 6.00047 77.6804C7.14178 76.5391 8.91642 74.7407 9.83475 73.6931C17.597 69.8826 14.5926 62.6969 14.5926 62.6969C14.5926 62.6969 14.1229 64.5507 11.9538 66.0522C8.30685 68.5737 8.92434 72.4924 9.19615 73.6258C8.3649 74.7539 6.6879 76.8808 5.00694 78.1409C4.71534 78.2728 4.41187 78.4061 4.09125 78.5433C3.6875 78.7149 3.29563 78.8837 2.913 79.0513C2.84043 79.083 2.71772 79.141 2.53168 79.1674C2.53168 79.3535 2.63855 79.6332 2.77182 79.8337C3.21778 79.6239 3.69278 79.364 4.11632 79.1674C7.01116 77.8256 9.25024 76.8822 9.44948 76.679C9.53656 76.5892 9.621 76.4692 9.70809 76.3412C11.5527 74.9083 14.5293 73.8066 16.044 73.3039C17.0916 73.9952 20.794 76.0153 24.5966 73.102C26.866 71.363 28.89 71.5292 28.89 71.5292C28.89 71.5292 22.7626 65.8451 16.205 72.6138C14.623 73.2959 11.6384 74.8107 10.2213 75.5403C10.5644 75.0231 11.0236 74.4399 11.7743 73.9174C13.2151 72.912 17.3529 69.7018 18.7502 68.1475C19.0233 67.844 19.2938 67.4693 19.5656 67.055C21.0434 65.6181 23.1267 64.3238 24.2681 63.6654C25.3685 64.1061 29.1724 65.2698 32.1622 61.8261C33.9474 59.773 35.8553 59.5342 35.8553 59.5342C35.8553 59.5342 29.1262 55.4308 24.2878 62.9925C23.2046 63.7511 21.3772 65.188 20.0894 66.2159C21.0341 64.6391 21.9999 62.7998 23.0924 61.8868Z" fill="%23A99C81" style="fill:%23A99C81;fill:color(display-p3 0.6625 0.6115 0.5052);fill-opacity:1;"/></svg>');
      right: -$spacer-3;
    }
  }
  &__row {
    text-align: center;
  }
  &__item {
    width: 100%;
    &:has(.sc-masthead-with-video__inner-desc) {
      display: flex;
      justify-content: space-around;
    }
  }
  &__qr-img {
    display: none;
  }
  &__app-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

@include tablet {
  .sc-masthead-with-video {
    &__bg {
      position: relative;
    }
    &__content {
      margin-top: -100px; /* stylelint-disable-line scale-unlimited/declaration-strict-value */
      width: 100%;
      flex-direction: column;
      height: auto;
      padding: $spacer-4;
    }
    &__img-container {
      height: auto;
      width: 100%;
      margin-top: 0;
    }
    &__inner-desc {
      margin: 0 $spacer-4 $spacer-4;
    }
    &__item {
      &:has(.sc-masthead-with-video__inner-desc) {
        justify-content: center;
      }
    }
  }
}

@include desktop {
  .sc-masthead-with-video {
    &__bg {
      position: absolute;
    }
    &__content {
      margin-top: $spacer-0;
      display: flex;
      justify-content: space-between;
      padding: $spacer-4;
    }
    &__img-container {
      align-items: center;
      margin-top: 125px; /* stylelint-disable-line scale-unlimited/declaration-strict-value */
    }
    &__item-container {
      flex-direction: row;
      margin-top: $spacer-6;
    }
    &__inner-title {
      font-size: $font-size-lg;
      font-weight: $font-weight-semi-bold;
    }
    &__inner-desc {
      font-size: $font-size-md;
      margin: 0;
      &::before {
        width: $spacer-6;
        left: 2%;
      }
      &::after {
        width: $spacer-6;
        right: 2%;
      }
    }
    &__row {
      margin-bottom: $spacer-3;
      &:last-child {
        margin-bottom: 0;
      }
      ~ .sc-masthead-with-video {
        &__row {
          margin-top: $spacer-6;
        }
      }
    }
    &__item {
      &:has(.sc-masthead-with-video__inner-desc) {
        flex-direction: column;
      }
    }
    &__qr-img {
      display: flex;
      margin-left: auto;
      background-color: $color-white;
      border-radius: 10px;
      padding: $spacer-3;
      width: 100px;
      height: auto;
      position: relative;
      z-index: 3;
    }
    &__qr-image {
      position: relative;
      &::after {
        content: '';
        background-image: linear-gradient(90deg, #43e50800 0%, #38d200 100%);
        height: 50px;
        width: 100%;
        display: inline-block;
        position: absolute;
        bottom: -$spacer-4;
      }
    }
  }
}
/** @end */
