// Vars
@import '../../../scss/base/variables/index';

// Mixins
@import '../../../scss/base/mixins/index';

// Atom Radio Box
@import '../../atoms/sc-radio-box/sc-radio-box';

/** @define product-choose; weak */
.sc-product-choose {
  padding: $spacer-5 $spacer-0;
  &__title {
    color: $color-dark-gray-1;
    font-size: $font-size-20;
    font-weight: $font-weight-semi-bold;
    text-align: center;
    margin-bottom: $spacer-6;
  }
  &__pdt-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: $spacer-3;
  }
  &__img {
    max-width: 170px;
    width: 100%;
    height: auto;
  }
  &__content-wrapper {
    background: linear-gradient(143.01deg, $color-green-6 -3.64%, $color-green-8 83.4%);
    padding: $spacer-1;
    height: 100%;
    cursor: pointer;
  }
  &__content {
    padding: $spacer-5 $nt-spacer-4 $spacer-3 $nt-spacer-4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: $color-white;
    min-height: 160px;
  }
  &__pdt-box {
    padding: $spacer-3;
    background-color: $color-light-green-6;
    position: relative;
    margin-bottom: $spacer-4 !important;
  }
  &__text {
    font-size: $font-size-md;
    font-weight: $font-weight-semi-bold;
    color: $color-dark-gray-1;
    text-align: center;
    margin-top: $spacer-3;
  }
  .sc-radio-box {
    max-width: 240px;
    position: absolute;
    top: -10px;
    left: -20px;
    min-height: 55px;
    &__input-label {
      border-radius: $nt-spacer-3 $spacer-3;
      background: radial-gradient(
        160.26% 1130.34% at -36.81% -60.26%,
        $color-light-green-4 0%,
        $color-light-blue-6 100%
      );
      border: $spacer-0;
      padding: $spacer-2 $spacer-4 $spacer-2 $nt-spacer-4;
    }
  }
  .sc-inline-buttons {
    display: flex;
    justify-content: center;
  }
}

@include tablet-desktop {
  .sc-product-choose {
    padding: $spacer-6 $spacer-0;
    &__title {
      margin-bottom: $spacer-5;
    }
    &__pdt-wrapper {
      padding: $spacer-3 $spacer-0 $spacer-0 $spacer-0;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__pdt-box {
      margin: $spacer-0 $spacer-4;
      max-width: calc(33.33% - 48px);
      width: 100%;
      min-width: 260px;
    }
  }
}

/** @end */
