@font-face {
  font-family: 'SC Prosper Sans Variable';
  font-style: normal;
  font-weight: 100 1000;
  src: url('https://av.sc.com/assets/global/fonts/SCProsperSansVariable-VF.woff2') format('woff2'),
    url('https://av.sc.com/assets/global/fonts/SCProsperSansVariable-VF.woff') format('woff'),
    url('https://av.sc.com/assets/global/fonts/SCProsperSansVariable-VF.ttf') format('truetype');
}
