.sc-li-campaign-form {
  &__items {
    padding: 40px 15px 34px 15px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - (150px + 150px));
  }
  &__item {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item-title {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: $color-dark;
    margin-bottom: 6px;
  }
  &__checkboxs {
    display: flex;
    flex-direction: column;
  }
  &__checkbox {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__radios {
    display: flex;
    flex-direction: column;
  }
  &__radio {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  // banner
  &__bg-wrapper {
    position: relative;
    height: 150px;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 170%);
    }
    &::after {
      content: "";
      width: 100%;
      height: 124px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
  }
  &__bnr-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__bnr-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px 15px 18px 15px;
    z-index: 2;
  }
  &__bnr-sub-heading {
    font-size: 14px;
    font-weight: 400;
    color: $color-white;
  }
  &__bnr-heading {
    font-size: 19px;
    font-weight: 500;
    color: $color-white;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__bnr-heading-bld {
    font-weight: 500;
  }

  // btn-wrap
  &__btn-wrap {
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: $color-white;
    z-index: 3;
    padding: 24px 16px 32px 16px;
  }
  .sc-btn {
    margin-bottom: 20px;
    text-transform: none;
    &--fullwidth {
      width: 100%;
    }
    &--blue-secondary {
      background-color: transparent;
      border-color: $color-blue-16;
      color: $color-blue-16;
      &:hover {
        border-color: $color-blue-light-3;
        color: $color-blue-light-3;
        background-color: transparent;
      }
    }
    &--disabled {
      border-color: #cccbcb;
      background-color: #cccbcb;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// modal
.sc-li-campaign-form-modal-wrap {
  padding: 0;
}
.m-text-content.sc-li-campaign-form-modal {
  padding: 0;
  border-radius: 32px 32px 0px 0px;
  overflow: hidden;
}
.sc-li-campaign-form-modal-main {
  &.c-modal {
    > .wrapper {
      overflow-y: hidden;
    }
  }
}

// Status Modal
.sc-li-campaign-form-status-modal {
  .sc-error-modal {
    --error-padding: 16px;
    position: fixed;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0;
    display: none;
    align-items: flex-end;
    justify-content: center;
    padding: 16px 0;
    line-height: 1.4;
    &--show {
      display: flex;
    }
    &__inside {
      background-color: $color-white;
      border-radius: 24px;
      max-width: 350px;
      width: calc(100% - 20px);
      overflow: hidden;
      padding: 24px var(--error-padding) var(--error-padding);
      padding-bottom: 0;
    }
    &__alert-icon {
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto 16px;
      svg {
        width: 100%;
        height: 100%;
        transform: rotate(180deg);
        path {
          stroke: $color-blue-16;
        }
      }
    }
    &__alert-title {
      font-size: 16px;
      font-weight: 500;
      color: #1f8845;
      text-align: center;
      margin-bottom: 12px;
    }
    &__alert-desc {
      font-size: 14px;
      font-weight: 400;
      color: $color-dark;
      text-align: center;
      margin-bottom: 24px;
    }
    &__alert-close {
      min-height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% + var(--error-padding) * 2);
      border: 0;
      color: $color-dark;
      border-top: 1px solid $color-grey-border;
      background-color: transparent;
      padding: 0;
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      margin-left: calc(var(--error-padding) * -1);
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: $color-green;
        color: $color-white;
      }
    }
  }

  @include breakpoint($bp--h-small-large) {
    .sc-error-modal {
      --error-padding: 24px;
      align-items: center;
    }
  }
}
