$default-font: 'Montserrat', sans-serif;
$color-black: #000000;
$color-primary: #191919;
$color-grey: #979797;
$color-secondary: #2772C7;
$color-green: #1F8845;
$color-white: #ffffff;
$color-off-white: #EAF0F8;

$card-bg-master: linear-gradient(90deg, #1F2F87 0%, #0A498C 100%);
$card-bg-banking: #193043;
$card-bg-private: linear-gradient(90deg, #1F282E 0%, #4F595D 130.78%);


