// Vars
@import '../../../scss/base/variables/index';

// Mixins
@import '../../../scss/base/mixins/index';

/** @define pdt-apply-with-smart-script; weak */
.sc-pdt-apply-with-smart-script {
  line-height: 1.4;
  &__item {
    display: flex;
    width: 100%;
    position: relative;
    border-top: 1px solid $color-light-blue-1;
    flex-direction: column;
    padding: $spacer-4 $spacer-3;
    &:first-child {
      .sc-pdt-apply-with-smart-script__qr-btn {
        margin-top: $spacer-4;
      }
    }
    &:last-child {
      .sc-inline-buttons__item.sc-only-mobile {
        margin-top: $spacer-4;
      }
    }
    &:nth-of-type(1) {
      justify-content: flex-end;
      min-height: 230px;
      border-top: 0;
      padding-top: calc($spacer-6 + $spacer-3 + $spacer-1);
    }
    &:nth-of-type(2) {
      .sc-pdt-apply-with-smart-script {
        &__tile {
          font-size: $font-size-lg;
        }
      }
    }
  }
  &__left {
    position: relative;
    display: flex;
    width: 100%;
  }
  &__right {
    position: relative;
    display: flex;
    width: 100%;
  }
  &__desc {
    font-size: $font-size-md;
    color: $color-dark-gray-1;
  }
  &__tile {
    font-size: $font-size-mlg;
    margin-bottom: $spacer-3;
    color: $color-black;
    font-weight: 500;
  }
  &__head {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    padding: $spacer-3 $spacer-3 $spacer-3 $spacer-2;
    width: 100%;
    z-index: 2;
    height: calc($spacer-6 + $spacer-3 + $spacer-1);
    ~ .sc-pdt-apply-with-smart-script__right {
      margin-top: $spacer-4;
    }
  }
  &__back {
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: 0;
    box-shadow: none;
    background-color: transparent;
  }
  &__main-tile {
    font-size: $default-font-size;
    width: calc(100% - 40px);
    color: $color-black;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__bottom {
    display: flex;
    justify-content: center;
    border-top: 1px solid $color-light-blue-1;
    padding: $spacer-4 $spacer-3;
    .sc-pdt-apply-with-smart-script {
      &__tile {
        font-size: $font-size-20;
      }
    }
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  &__bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right bottom;
  }
  &__right-content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
  }

  &__left-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }

  &__bottom-left {
    max-width: 350px;
    padding: $spacer-0 $spacer-3 $spacer-0 $spacer-0;
  }
  .sc-inline-buttons {
    margin-top: $spacer-4;
  }
  &__onelink-qr {
    width: 150px;
    height: 150px;
    padding: $spacer-1;
    background: linear-gradient(180deg, $color-brand-blue 0%, $color-brand-green 100%);
    border-radius: 8px;
    canvas {
      width: 100%;
      height: 100%;
      background-color: $color-white;
      border-radius: $nt-spacer-3;
      padding: $nt-spacer-3;
    }
  }
}

/** @define modal; weak */
.sc-modal {
  .sc-pdt-apply-with-smart-script {
    margin-left: -$spacer-3;
    margin-right: -$spacer-3;
    &__bg-img {
      height: 100% !important;
    }
    .buttons,
    .sc-inline-buttons {
      padding-left: $spacer-0;
    }
  }
}
/** @end */

@include tablet-desktop {
  .sc-pdt-apply-with-smart-script {
    &__right {
      width: 50%;
      justify-content: flex-end;
      max-width: 300px;
    }
    &__left {
      width: 50%;
      margin-right: auto;
    }
    &__item {
      align-items: center;
      flex-direction: row;
      padding: $spacer-5 $spacer-6;
      &:nth-of-type(1) {
        min-height: 330px;
        padding-top: calc($spacer-6 + $spacer-3 + $spacer-1);
      }
    }
    &__bg-img {
      object-position: top right;
    }
  }
}

@include desktop {
  .sc-pdt-apply-with-smart-script {
    &__item {
      padding: $spacer-5 calc($spacer-6 + $spacer-3 + $spacer-1);
    }
  }
  .sc-modal {
    .sc-pdt-apply-with-smart-script {
      margin-left: -$spacer-4;
      margin-right: -$spacer-4;
    }
  }
}
/** @end */
